{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<h1 style="text-align: center;">
    Support Me 
</h1>
<br> <br>
<h3 style="text-align: center;">
    Follow Me Anywhere or Just Upload the Notes :)
</h3>

<br>
<h6 style="text-align: center;">
    This hard working boy needs some motivation....
</h6>
<br>

<h5 style="text-align: center;">
  <a href="mailto:notdefinedareyou@gmail.com" target='_blank'>
    Feedback
  </a>
</h5>
<br>
<br>

    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a href="https://www.youtube.com/channel/UC2PYuTKhpGoGahAxYO480nQ?" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/YouTube_play_button_circular_%282013-2017%29.svg/600px-YouTube_play_button_circular_%282013-2017%29.svg.png" width="50" height="50">
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/Joshi-Hiroshi" target="_blank">
            <img alt="Github" src="https://www.pngkey.com/png/full/178-1787508_github-icon-download-at-icons8-white-github-icon.png" width="50" height="50">
        </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.sololearn.com/Profile/17761705" target="_blank">
            <img src="https://lh3.googleusercontent.com/-X34rLehrnCg/X3msCsYXuAI/AAAAAAAADsI/trFZCiKCVkUv7wz4s-s9p_BqjgYT31oEQCK8BGAsYHg/s0/2020-10-04.png" width="50" height="50">
          </a>
        </li>

        <li class="list-inline-item">
            <a href="https://www.ultimate-guitar.com/u/vaaninc13" target="_blank">
              <img src="https://lh3.googleusercontent.com/-wac_HSsBekQ/X4HtLjl7DII/AAAAAAAADwY/XicQ_9JMbKswcq5f5Ybos7NIn1HYHjjGgCK8BGAsYHg/s0/2020-10-10.png" width="50" height="50">
            </a>
          </li>

        <li class="list-inline-item">
            <a href="https://www.quora.com/profile/Vik-Josh" target="_blank">
              <img src="https://lh3.googleusercontent.com/-vTeODRwb2wY/X4Ht443EuzI/AAAAAAAADwg/d8S602i-UMQSKMQ157kujbwHs1haECM5gCK8BGAsYHg/s0/2020-10-10.png" width="50" height="50">
            </a>
        </li>
      </ul>

{% endblock %}